canvas {
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
    height: 600px;
    width: 600px;
}

div.controls {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

div.buttons {
    margin: 10px 0;
}

.gridSettings > div {
    display: flex;
    justify-content: space-between;
}

.gridSettings > div input, .gridSettings > div select{
    width: 70px;
}